.page-avaliacao {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.cabecalho {
    display: flex;
    background-color: #318CE7;
    height: 8em;
    align-items: center;
}

.botao-cabecalho {
    margin-left: 1em;
    padding: 1em 2.5em;
    background: #084D6E;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    border: 0px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.botao-cabecalho:hover {
    background-color: #11668d;
}

.container-central {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    

}

.div-agradecimento {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2em;

}

.div-agradecimento p{
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.div-agradecimento h1{
   font-size: 40px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.div-avaliacao {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 70%;
    align-items: center;
    margin-bottom: 5em;
}

.div-avaliacao h1{
    font-size: 3em;
    margin-bottom: .7em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.div-avaliacao input{
    height: 40px;
    width: 15em;
        border-radius: 10px;
        border-style: none;
        border: black solid 2px;
        padding: 0px 10px;
        margin-bottom: 1.5em;
        font-size: x-large;
    
    
        
}

.div-avaliacao input:hover {
    border-color: #9dedff;
}

.group-1 {
    padding-top: 5px;
}

.gorup-2 {
    padding-top: 5px;
}

.div-avaliacao label{
    font-family: Arial;
        color: black;
        font-size: 12px;
        font-weight: bold;
        background-color: #ffffff;
        width:auto;
        padding: 0px 0.1%;
        margin: -7px 0px 40px 1%;
        position: absolute;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    
}

.div-avaliacao textarea{
    height: 250px;
    width: 30em;
    border-radius: 10px;
    border-style: none;
    border: black solid 2px;
    font-size: x-large;
}

.div-avaliacao textarea:hover {
    border-color: #9dedff;
}

.btn-enviar {
    padding: 1em 2em;
    background-color: #084D6E;
    color: white;
    border-radius: .8em;
    border: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.btn-enviar:hover {
    background-color: #0e6892;
    cursor: pointer ;
}

.barra-azul {
    background-color: #318CE7;
    color: #318CE7;
}


