.cabeçalho{
background-color: #318CE7;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 10px;
height: 60px;
width: 100%;


}


button {
    background-color:   #084D6E;
    font-size: 15px;
 


}

.obrigado {
flex-direction: row

}
